source/*
!source/cherry_blossom.jpg
!source/jiufen.jpg
!source/fake_temple.jpg
!source/ryb_neon_city.jpg
!source/nebula1.jpg
!source/nebula.jpg
results/*
!results/cherry_blossom_glitch.jpg
!results/jiufen_glitch.jpg
!results/fake_temple_glitch.jpg
!results/taipei_neon_city_glitch.jpg
!results/nebula1_glitch.jpg
!results/nebula1_glitch_redux.jpg
!results/nebula_glitch.jpg
